:root{
    /* color */
    --body-color : #E9EAF8;
    --prime-color : #343F52;
    --sub-head-color : #AAB0BC;
    --text-color : #60697B;
    --btn-hover : #747ED1;
    --head-dark-bg : #ffffff;
    --text-dark-bg : #CACACA;
    --footer-bg : #21262C;
    --section-bg: #FEFEFE;
}
/* common css start */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
h1, h2, h3, h4, h5, h6, p {
    font-family: "Urbanist", sans-serif;
    color: var(--prime-color);
}
p{
    color: var(--text-color);
}
ul, li {
    list-style: none;
}
.img-fluid{
    max-width: 100%;
    height: 100%;
}
.w-100{
    width: 100%;
}
a{
    text-decoration: none;
}
body{
    padding: 0 25px;
    background-color: var(--body-color);
}
.container{
    width: 1270px;
    margin: 0 auto;
    padding: 120px 0;
}

.section-head h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--sub-head-color);
    padding-bottom: 20px;
}
.section-head h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    text-transform: capitalize;
    color: var(--prime-color);
}
.btn-gl{
    width: 160px;
    height: 52px;
    font-family: "Urbanist", sans-serif;
    background-color: var(--body-color);
    color: var(--btn-hover);
    border-radius: 50px;
    border: 1px solid var(--body-color);
    font-size:18px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    transition: all linear .3s;
}
.btn-gl:hover{
    background-color: var(--btn-hover);
    color: var(--head-dark-bg);
}
/* common css end */

/* header css start */
#nav{
    width: 100%;
}
#nav .heading{
    width: 1320px;
    margin: 20px auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading .menu ul li{
    display: inline-block;
    margin-left: 35px;
    font-size:18px;
    font-weight: 500;
}
.heading .menu ul li a{
    color: var(--prime-color);
}
.heading .menu ul li:hover{
    text-decoration: underline;
    color: var(--prime-color);
}
.heading button{
    width: 160px;
    height: 52px;
    background-color: var(--body-color);
    color: var(--prime-color);
    border-radius: 50px;
    border: 1px solid var(--prime-color);
    font-size:17px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all linear .3s;
}
.heading button:hover{
    background-color: var(--btn-hover);
    color: var(--head-dark-bg);
    border: none;
}
/* header css end */

/* banner css start */
#banner{
    width: 100%;
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 20px;
}
.banner_content{
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.banner_content h1{
    font-size: 74px;
    line-height: 64px;
    font-weight: 600;
    color: var(--head-dark-bg);
}
.banner_content p{
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
    color: var(--head-dark-bg);
}
/* banner css end */

/* services section css start */
#service{
    background-color: var(--section-bg) ;
    margin-top: 25px;
    border-radius: 20px;
}
.service-head {
    width: 750px;
    margin: 0 auto;
    text-align: center;
}
.services-items .item {
    padding: 80px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-items .item .item-img {
    width: 645px;
    height: auto;
}
.services-items .item .item-content {
    width: 530px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.services-items .item .item-content h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: var(--prime-color);
}
.services-items .item .item-content p {
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    color: var(--text-color);
}
.services-items .item .item-content .item-list ul li {
    display: flex;
    gap: 10px;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    font-family: "Urbanist", sans-serif;
    color: var(--text-color);
}
.services-items .item .item-content .item-list ul li i {
    font-size: 20px;
    padding-top: 5px;
    color: var(--btn-hover);
}
.services-items .item .item-content button{
    margin-top: 20px;
}
/* services section css end */

/* common css start */
#video{
    background-color: var(--section-bg) ;
    margin-top: 25px;
    border-radius: 20px;
}
#video .video-src{
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}
.video-content{
    width: 800px;
    margin: 80px auto 0;
    text-align: center;
}
.process{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.process .items{
    width: 380px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    padding: 0 50px 25px 50px;
    position: relative;
}
.process .item-01::after {
    content : url(../images/__before.png);
    right: -60px;
    position: absolute;
    top: 20px;
}
.process .item-02::after {
    content : url(../images/__before\ \(1\).png);
    right: -60px;
    position: absolute;
    top: 20px;
}
/* common css end */

/* common css start */
#project{
    background-color: var(--section-bg) ;
    margin-top: 25px;
    border-radius: 20px;
}
.project-content{
    width: 850px;
    margin: 80px auto 50px;
    text-align: center;
}
.project-item{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.project-item .item{
    width: 403px;
}
.project-item .item img{
    width: 100%;
}
.project-item .item h3{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0 5px;
}
.project-item .item p{
    font-size: 17px;
}

.project-btn{
    padding-top: 50px;
    text-align: center;
}
/* common css end */


#client{
    background-color: var(--section-bg) ;
    margin-top: 25px;
    border-radius: 20px;
}
#client .client-content {
    display: flex;
    justify-content: space-between;
}
.client-content .client-info{
    width: 300px;
}
.client-content .client-info  h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--sub-head-color);
}
.client-content .client-info  h2{
    font-size: 42px;
    font-weight: 600;
    padding: 15px 0 10px;
}
.client-logo{
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 90px;
}
.client-logo img{
    max-width: 130px;
}

/* common css start */
#diffrent{
    background-color: var(--section-bg) ;
    margin-top: 25px;
    border-radius: 20px;

}
#diffrent .diffrent-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.diffrent-img{
    max-width: 610px;
}
.diffrent-content .diffrent-info{
    width: 600px;
}

.diffrent-content .diffrent-info  h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--sub-head-color);
}
.diffrent-content .diffrent-info  h2{
    font-size: 42px;
    font-weight: 600;
    padding: 15px 0 10px;
}
.diffrent-info .diffrent-items{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
    padding-top: 50px;
}
.diffrent-items .item-tab{
    width: 230px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.diffrent-items .item-tab{
    width: 230px;
    display: flex;
    gap: 30px;
    align-items: center;
}










/* common css end */





















/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */
/* common css start */
/* common css end */